<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Juvo | Microfinance for everyone</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/grayscale.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Microfinance for everyone</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
            <a class="nav-link js-scroll-trigger" href="#request">Request</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">JUVO</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Anyone. Anywhere. Finance yourself here.</h2>
        <a href="#request" class="btn btn-primary js-scroll-trigger">REQUEST A LOAN</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Finance for everyone</h2>
          <p class="text-white-50">
              Juvo is not just great, it's awesome. In fact, it's so awesome that we'll
              offer you loan. Right here. Right now. Need finance for the next big
              thing? The next great startup on your backburners, just waiting for a
              little cash to get things going? Wait no more, because we have
              the answer. Right here.
          </p>
          <p class="text-white-50">
              What are you waiting for?
          </p>
        </div>
      </div>
	  <img src="{{ url_for('static', filename='img/ipad.png') }}" class="img-fluid" alt="">
    </div>
  </section>

  <!-- Stories (?) Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
			<img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static', filename='img/lepisi-image.jpg') }}" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Success Story</h4>
            <p class="text-black-50 mb-0">Lepisi is a 34-year-old married woman with five children. She runs a business of preparing and selling barbecue in her community to earn a living. Lepisi has three years of experience in this business. She is a Samoan citizen and lives in a rural area. Lepisi works very hard to please her customers. With a total loan of $775, she takes her business to the next level. She plans to use her profits to build a small restaurant and to pay for her children’s education.</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
			<img class="img-fluid" src="{{ url_for('static', filename='img/nazira-image.jpg') }}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Dreams Realized</h4>
                <p class="mb-0 text-white-50">Nazira runs a small sewing shop that employs three local women in Bokonbaevo, Kyrgyzstan. In her shop, Nazira handcrafts traditional women’s clothing and felt souvenirs using natural, locally-sourced materials and patterns inspired by tribal traditions. Nazira uses a loan of $8,000 to invest in new equipment for her sewing shop, employing at least 4 additional women and selling her products in stores across Kyrgyzstan.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
			<img class="img-fluid" src="{{ url_for('static', filename='img/ricardo-antonio-image.jpg') }}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">An Example For All</h4>
                <p class="mb-0 text-white-50">Ricardo is 69 years old and did not have the opportunity to receive formal education. He is married and has three children who are now independent. Ricardo works in agriculture and raising cattle. He currently has five cows and two bulls. He also processes the milk they provide in order to sell dairy products every morning. Ricardo uses the loan to buy commercial feed for his animals. He previously received two loans and paid them off satisfactorily. His goal is to continue investing in cattle as it is his primary source of income. In this way he hopes to generate greater income for his family.
</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Request Section -->
  <section id="request" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Request a loan</h2>

          <form class="form-inline d-flex" method="POST">
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="woot", id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Request</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">115 Wall Street, New York NY 10004</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@juvo.finance</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (212) 955-1441</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Juvo 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/grayscale.min.js') }}"></script>

</body>

</html>
